@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
  mobile: 530px,
  tablet: 1024px,
);

@mixin respond-to($breakpoint) {
  @if meta.type-of($breakpoint) == 'string' {
    @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if meta.type-of($breakpoint) == 'number' {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

// как его использовать
// @include respond-to(mobile) {}
// @include respond-to(tablet) {}
// @include respond-to(600px) {}
// @include respond-to(900px) {}
