//main colors
$primary: #1c1c1c;

//greyScale
$white: #fcfbf8;
$grey000: #fafcfc;
$grey100: #c5c1ba;
$grey200: #586069;
$grey300: #40403f;
$grey400: #272725;
$black: #1c1c1c;

//gradient colors
$layer1: #f0f;
$layer2: #ffa1e7;
$layer3: #e4f9ff;
$layer4: #0ff;
$layer5: #8d6eeb;
$layer6: #7552e0;

//system colors
$success: #38a169;
$error: #e53e3e;
