//main colors
$primary: #1c1c1c;

//greyScale
$white: #fcfbf8;
$grey000: #fafcfc;
$grey100: #c5c1ba;
$grey200: #586069;
$grey300: #40403f;
$grey400: #272725;
$black: #1c1c1c;

//gradient colors
$layer1: #f38300;
$layer2: #f3001d;
$layer3: #ff7eea;
$layer4: #e4f9ff;
$layer5: #d5fdb9;
$layer6: #639cf2;
$layer7: #4e93ff;

//system colors
$success: #38a169;
$error: #e53e3e;
