.inputWrapper {
  background-color: $grey400;
  width: 740px;
  border-radius: 28px;
  border: 1px solid $grey300;
  margin: 24px auto 0;
  padding: 13px;
  max-height: 200px;

  textarea {
    width: 100%;
    font-size: 16px;
    color: $white;
    resize: none;
    white-space: pre-wrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;

    .rounded {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $white;
      opacity: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.fullWidth {
  width: 100%;
}
.rounded {
  background-color: transparent;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: #999;
    transition: color 0.3s;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.active {
  background-color: white;
  animation: pulse 1.2s infinite;

  svg {
    color: #000;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
