header {
  position: fixed;
  z-index: 1000; /* Ensure the header is above other content */
  top: 0;
  left: 0;
  width: 100%;
  background: #1c1c1cd8; /* semi-transparent background */
  backdrop-filter: blur(40px); /* blur the background behind */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 65px;
    color: white;

    .logo {
      height: 60px;

      img {
        height: 100%;
        width: auto;
      }
    }

    a {
      color: white;
      cursor: pointer;
    }
  }
}
