.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s ease;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.primary {
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0069d9;
  }
}

.secondary {
  background-color: $grey000;
  color: $black;

  &:hover {
    background-color: $grey100;
  }
}

.tertiary {
  background-color: $grey400;
  color: $white;
  &:hover {
    background-color: $grey300;
  }
}

.small {
  padding: 6px 10px;
}

.medium {
  padding: 7px 16px;
}

.large {
  padding: 12px 24px;
}
