.container {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 300vh; // Adjust height as needed
    z-index: -1;

    background: radial-gradient(
      circle,
      $layer1 49%,
      $layer2 53%,
      $layer3 56%,
      $layer4 58%,
      $layer5 61%,
      $layer6 68%,
      $layer7 75%,
      $black 100%
    );
    filter: blur(60px);
    opacity: 0.85;
    pointer-events: none;
  }
}
