.container {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    background: radial-gradient(
      circle,
      rgba(243, 131, 0, 1) 49%,
      rgba(243, 0, 29, 1) 53%,
      rgba(255, 126, 234, 1) 56%,
      rgba(228, 249, 255, 1) 58%,
      rgba(213, 253, 185, 1) 61%,
      rgba(99, 156, 242, 1) 68%,
      rgba(78, 147, 255, 1) 75%,
      rgba(28, 28, 28, 1) 100%
    );
    filter: blur(60px);
    opacity: 0.85;
    pointer-events: none;
  }

  &.light::before {
    opacity: 0.4;
    filter: blur(80px);
  }

  &.medium::before {
    opacity: 0.85;
    filter: blur(60px);
  }

  &.strong::before {
    opacity: 1;
    filter: blur(40px);
  }
}
