.wrapper {
  background-color: $black;
  padding: 32px;
  border-radius: 20px;
  margin-top: 50px;

  .pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .categories {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .templates {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    .template {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .templateImg {
        max-width: 340px;
        position: relative;

        img {
          width: 100%;
          object-fit: contain;
        }

        .buttons {
          width: 100%;
          position: absolute;
          bottom: 10px;
          display: flex;
          justify-content: space-between;
          gap: 10px;
          padding: 0 15px;

          .button {
            width: 50%;
          }
        }
      }
    }
  }

  .button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

.page {
  margin-top: 100px;
}
