.pricingBlock {
  margin: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cardsList {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid $grey400;
  max-width: 320px;
  height: 540px;
  .title {
    display: flex;
    align-items: center;
    gap: 20px;
    .isPopular {
      background-color: rgba(48, 48, 63, 0.9);
      color: rgb(200, 200, 255);
      font-weight: bold;
      padding: 6px 16px;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      text-transform: uppercase;
    }
  }
  .smallText {
    font-size: 15px;
  }
  .creditInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .creditAmount {
      background-color: $grey400;
      padding: 8px 10px;
      border-radius: 6px;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    .featuresList {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .listElement {
        display: flex;
        align-items: center;
        gap: 7px;
      }
    }
  }
}
