.h1 {
  font-size: 50px;
  line-height: 110%;
  font-weight: 700;
}

.h2 {
  font-size: 30px;
  line-height: 110%;
  font-weight: 700;
}

.h3 {
  font-size: 25px;
  line-height: 110%;
  font-weight: 600;
}

.h4 {
  font-size: 21px;
  line-height: 110%;
  font-weight: 500;
}

.bodyText {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.smallText {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
}

.extraSmall {
  font-size: 11px;
  line-height: 140%;
  font-weight: 400;
}

// weights
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semiBold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

// colors
.black {
  color: $black;
}
.white {
  color: $white;
}
.grey {
  color: $grey300;
  color: $grey100;
}

.lightBlue {
  color: rgb(196, 196, 255);
}

.error {
  color: #e53e3e;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}
