.h1 {
  font-size: 60px;
  line-height: 110%;
  font-weight: 700;
}

.h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
}

.h3 {
  font-size: 32px;
  line-height: 110%;
  font-weight: 600;
}

.h4 {
  font-size: 24px;
  line-height: 110%;
  font-weight: 500;
}

.bodyText {
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

.smallText {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
}

// weights
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semiBold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

// colors
.black {
  color: $grey500;
}
.white {
  color: $grey000;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}
