.wrapper {
  margin-top: 100px;
  margin-bottom: 100px;

  .boards {
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .icon {
      margin-right: 15px;
    }

    .board {
      background: rgba(255, 255, 255, 0.037);
      border-radius: 16px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      width: 300px;
      height: 220px;
      padding: 8px;

      .text {
        transition: 0.3s;
        text-transform: capitalize;
      }

      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        cursor: pointer;
        .text {
          scale: 1.2;
        }
      }

      .bg {
        background-color: #7f1bfa;
        height: 160px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
      }
    }
  }
}
